<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>True Shuffle</title>
  <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
  <link rel="icon" type="image/x-icon" href="/static/images/spotifyLogo.png">
</head>

<body>
  <header>
    <img id="spotifyLogo" src="/static/images/spotifyLogo.png">
    <h1 id="title">True Shuffle</h1>
  </header>
  <main>
    <p id="mainText">Welcome to True Spotify Shuffle. Have you ever noticed that when you shuffle one of your playlists on spotify, it always seems to play certain songs more than others? This is because Spotify's algorithm tries to tailor the shuffling to what it thinks your favourite songs are. If you're like me, you want your shuffle button to actually <i>shuffle</i> your playlist. This is exactly what True Spotify Shuffle does! It will create a temporary playlist with truly shuffled songs, that you listen to with shuffle mode off! Press the button to connect your Spotify account, and then choose which playlist to shuffle!</p>
    <a href="{{url}}/authorize">Continue</a>
  </main>
</body>

</html>
